/* variables */

$red: #E23B63;

$blue: #1591E5;
$light-blue: #9DD5F4;

$light-yellow: #EFEFDF;

$cell-grey: #B7B7B7;
$cell-light-grey: #DBDBDB;

$font-grey: #666666;

$open-sans: 'Open Sans', sans-serif;

$cell-size: 40px;